<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938777723081-7ofl8divv03d3nebl0mi2qjhlniu6cch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938777723081-7ofl8divv03d3nebl0mi2qjhlniu6cch</string>
	<key>API_KEY</key>
	<string>AIzaSyBiVfbVtfdD0vjhNWsbVdQIe7k032rBFIg</string>
	<key>GCM_SENDER_ID</key>
	<string>938777723081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MailCourses.CAFS</string>
	<key>PROJECT_ID</key>
	<string>cafs-5c0bd</string>
	<key>STORAGE_BUCKET</key>
	<string>cafs-5c0bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938777723081:ios:13765d3e28669b377a4d18</string>
	<key>DATABASE_URL</key>
	<string>https://cafs-5c0bd.firebaseio.com</string>
</dict>
</plist>